body{
    background-color: black;
}

.wrapper{
    width:100%;
    height:600px;
     background-color: lightgreen;
    margin: auto;
}
.header{
    width:100%;
    height:200px;
    background-color: yellow;
}

.header .logo{
    width:20%;
    height:200px;
    background-color: blanchedalmond;
    float: left;
}
.header .logo .profile_pic{
    width: 100%;
    height: 200px;
    display: flex;
    justify-content: center;
    align-items: center;
    overflow: hidden;
}
.header .banner{
    width: 80%;
    height:200px;
    background-color: sandybrown;
    float: left;
}
.header .banner .banner_img{
     width: 80%;
    height:200px;
   
    float: left;
}
.wrapper .myself{
    text-color: black;
}


