body{
    background-color: black;
}

.wrapper{
    width:100%;
    height:600px;
     background-color: aliceblue;
    margin: auto;
}
.header{
    width:100%;
    height:200px;
    background-color: yellow;
}

.header .logo{
    width:20%;
    height:200px;
    background-color: blanchedalmond;
    float: left;
}
.header .logo .profile_pic{
    width: 100%;
    height: 200px;
    display: flex;
    justify-content: center;
    align-items: center;
    overflow: hidden;
}
.header .banner{
    width: 80%;
    height:200px;
    background-color: sandybrown;
    float: left;
}
.header .banner .banner_img{
     width: 80%;
    height:200px;
   
    float: left;
}

.menu{
    width:100%;
    height:50px;
    background-color: grey;
}
.menu ul{
    margin: 0px;
    padding: 0px;
    list-style-type: none;
}
.menu ul li{
    float: left;
    width: 20%;
    
}
.menu ul li a{
    background-color: burlywood;
    display: block;
    text-decoration: none;
    text-align: center;
    padding: 15px 5px;
    border-radius: 0px 0px 50px 50px;
    transition: background-color 2s;
}
.menu ul li a:hover{
    background-color: aqua;
    color: yellow;
    border-radius: 50px 50px 0px 0px;
}
.Box{
    width: 100%;
    height: 1250px;
    background-color: pink;
}
.Box .BoxOne{
    width: 32%;
    height: 300px;
    background-color: beige;
    margin-left: 10px;
    margin-top: 10px;
    float: left;
    transform: rotate(0deg) scale(1);
    transition: all 2s;
    background-image: url(../img/11.jpg);
    background-size: cover;
}
.Box .BoxOne:hover{
    transform: rotate(200deg) scale(1.5);
}
.Box .BoxTwo{
    width: 32%;
    height: 300px;
    background-color: beige;
    margin-left: 10px;
    margin-top: 10px;
    float: left;
    transform: rotate(0deg) scale(1);
    transition: all 2s;
    background-image: url(../img/12.jpg);
    background-size: cover;
}
.Box .BoxTwo:hover{
    transform: rotate(200deg) scale(1.5);
}
.Box .BoxThree{
    width: 32%;
    height: 300px;
    background-color: beige;
    margin-left: 10px;
    margin-top: 10px;
    float: left;
    transform: rotate(0deg) scale(1);
    transition: all 2s;
    background-image: url(../img/13.jpg);
    background-size: cover;
}
.Box .BoxThree:hover{
    transform: rotate(200deg) scale(1.5);
}
.Box .BoxFour{
    width: 32%;
    height: 300px;
    background-color: beige;
    margin-left: 10px;
    margin-top: 10px;
    float: left;
    transform: rotate(0deg) scale(1);
    transition: all 2s;
    background-image: url(../img/14.jpg);
    background-size: cover;
}
.Box .BoxFour:hover{
    transform: rotate(200deg) scale(1.5);
}
.Box .BoxFive{
    width: 32%;
    height: 300px;
    background-color: beige;
    margin-left: 10px;
    margin-top: 10px;
    float: left;
    transform: rotate(0deg) scale(1);
    transition: all 2s;
    background-image: url(../img/15.jpg);
    background-size: cover;
}
.Box .BoxFive:hover{
    transform: rotate(200deg) scale(1.5);
}
.Box .BoxSix{
    width: 32%;
    height: 300px;
    background-color: beige;
    margin-left: 10px;
    margin-top: 10px;
    float: left;
    transform: rotate(0deg) scale(1);
    transition: all 2s;
    background-image: url(../img/16.jpg);
    background-size: cover;
}
.Box .BoxSix:hover{
    transform: rotate(200deg) scale(1.5);
}
.Box .BoxSeven{
    width: 32%;
    height: 300px;
    background-color: beige;
    margin-left: 10px;
    margin-top: 10px;
    float: left;
    transform: rotate(0deg) scale(1);
    transition: all 2s;
    background-image: url(../img/17.jpg);
    background-size: cover;
}
.Box .BoxSeven:hover{
    transform: rotate(200deg) scale(1.5);
}
.Box .BoxEight{
    width: 32%;
    height: 300px;
    background-color: beige;
    margin-left: 10px;
    margin-top: 10px;
    float: left;
    transform: rotate(0deg) scale(1);
    transition: all 2s;
    background-image: url(../img/21.jpg);
    background-size: cover;
}
.Box .BoxEight:hover{
    transform: rotate(200deg) scale(1.5);
}
.Box .BoxNine{
    width: 32%;
    height: 300px;
    background-color: beige;
    margin-left: 10px;
    margin-top: 10px;
    float: left;
    transform: rotate(0deg) scale(1);
    transition: all 2s;
    background-image: url(../img/22.jpg);
    background-size: cover;
}
.Box .BoxNine:hover{
    transform: rotate(200deg) scale(1.5);
}
.Box .BoxTen{
    width: 32%;
    height: 300px;
    background-color: beige;
    margin-left: 10px;
    margin-top: 10px;
    float: left;
    transform: rotate(0deg) scale(1);
    transition: all 2s;
    background-image: url(../img/23.jpg);
    background-size: cover;
}
.Box .BoxTen:hover{
    transform: rotate(200deg) scale(1.5);
}
.Box .BoxEleven{
    width: 32%;
    height: 300px;
    background-color: beige;
    margin-left: 10px;
    margin-top: 10px;
    float: left;
    transform: rotate(0deg) scale(1);
    transition: all 2s;
    background-image: url(../img/24.jpg);
    background-size: cover;
}
.Box .BoxEleven:hover{
    transform: rotate(200deg) scale(1.5);
}
.Box .BoxTwelve{
    width: 32%;
    height: 300px;
    background-color: beige;
    margin-left: 10px;
    margin-top: 10px;
    float: left;
    transform: rotate(0deg) scale(1);
    transition: all 2s;
    background-image: url(../img/25.jpg);
    background-size: cover;
}
.Box .BoxTwelve:hover{
    transform: rotate(200deg) scale(1.5);
}
.wrapper .myself{
    text-color: black;
}


